<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Geraete-Kalender: Joe liest nur - es gibt keine Stelle in der App,
         die einen Geraete-Termin anlegt oder aendert. WRITE_CALENDAR steht
         trotzdem hier, weil device_calendar_plus zum *Lesen* die Stufe
         "full" verlangt und deren Anfrage beide Rechte deklariert haben
         will (PermissionService.checkPermissionsDeclared). Faellt die Zeile
         weg, schlaegt schon die Berechtigungsanfrage fehl.
         Gefragt wird erst, wenn der Schalter in den Einstellungen umgelegt
         wird. -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- Erinnerungen: Benachrichtigungen zeigen (ab Android 13 zusaetzlich
         zur Laufzeit bestaetigt) und nach einem Neustart neu planen. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Exakte Alarme, zweigleisig - beide Zeilen werden gebraucht:
         USE_EXACT_ALARM gibt es erst ab API 33 und ist fuer Kalender- und
         Wecker-Apps ohne Extra-Dialog vorgesehen. Auf Android 12 (API 31/32)
         kennt das System es nicht; dort ist SCHEDULE_EXACT_ALARM noetig und
         wird automatisch gewaehrt, sobald es deklariert ist. Ohne diese
         zweite Zeile liefert canScheduleExactAlarms() auf Android 12 false
         und *jedes* zonedSchedule wirft - Erinnerungen kaemen dort nie an.
         maxSdkVersion, weil ab 33 USE_EXACT_ALARM uebernimmt und
         SCHEDULE_EXACT_ALARM sonst unnoetig in der Rechteliste stuende. -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <application
        android:label="Joe"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Die vier Startbildschirm-Widgets. exported="false" reicht: die
             APPWIDGET_UPDATE-Rundrufe kommen vom System bzw. aus der eigenen
             App, und beides darf auch an nicht exportierte Empfaenger. -->
        <receiver
            android:name=".widget.JoeTasksWidget"
            android:exported="false"
            android:label="@string/joe_widget_tasks_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/joe_widget_tasks_info" />
        </receiver>
        <receiver
            android:name=".widget.JoeAppointmentsWidget"
            android:exported="false"
            android:label="@string/joe_widget_appointments_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/joe_widget_appointments_info" />
        </receiver>
        <receiver
            android:name=".widget.JoeCalendarWidget"
            android:exported="false"
            android:label="@string/joe_widget_calendar_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/joe_widget_calendar_info" />
        </receiver>
        <receiver
            android:name=".widget.JoeOverviewWidget"
            android:exported="false"
            android:label="@string/joe_widget_overview_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/joe_widget_overview_info" />
        </receiver>
        <!-- Der Tageswechsel. Der Wecker um Mitternacht kommt als eigene
             Aktion herein und braucht keinen Filter (die Intent ist
             ausdruecklich an diesen Empfaenger gerichtet); die drei hier sind
             die Faelle, in denen die Uhr springt oder alle Wecker weg sind. -->
        <receiver
            android:name=".widget.JoeWidgetTick"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- flutter_local_notifications: stellt geplante Erinnerungen zu und
             plant sie nach Reboot oder App-Update neu ein. -->
        <receiver android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>

